{%- assign color_label_list = 'general.label.color' | t | replace: ', ', ',' | downcase | split: ',' -%}
{%- assign color_white_label = 'general.label.white' | t | downcase -%}
{%- assign quick_buy_icon_name = 'quick-buy-' | append: settings.cart_icon | replace: '_', '-' -%}

{%- if product.url contains '?' -%}
  {%- assign product_url_contains_query = true -%}
{%- else -%}
  {%- assign product_url_contains_query = false -%}
{%- endif -%}

<product-item
  data-complementary-product
  handle="{{ product.handle }}"
  class="product-item {% unless product.available %}product-item--sold-out{% endunless %}"
  {% if reveal %}
    reveal
  {% endif %}
>
  {%- capture product_labels -%}
    {%- for tag in product.tags -%}
      {%- if tag contains '__label' -%}
        <span class="label label--custom{% if tag contains '__label2' %}2{% endif %}">{{ tag | split: ':' | last }}</span>
      {%- endif -%}
    {%- endfor -%}

    {%- unless product.available -%}
      <span class="label label--subdued">{{ 'collection.product.sold_out' | t }}</span>
    {%- endunless -%}

    {%- assign cheapest_variant = product.variants | sort: 'price' | first -%}

		{%- assign onSale = false -%}
		{%- if product.available and product.price < product.compare_at_price and cheapest_variant.compare_at_price != blank -%}
			{%- assign onSale = true -%}
		{%- endif -%}
   
			{%- if settings.show_discount and onSale -%}
      {%- if settings.discount_mode == 'percentage' -%}
        {%- assign savings = product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round | append: '%' -%}
      {%- else -%}
        {%- capture savings -%}{{ product.compare_at_price | minus: product.price | money }}{%- endcapture -%}
      {%- endif -%}

      <span class="label label--highlight">{{ 'collection.product.discount_html' | t: savings: savings }}</span>
    {%- endif -%}
   
    {%- if settings.show_sale_label and onSale-%}
      <span class="label label--highlight">{{ 'collection.product.sale_label' | t }}</span>
    {%- endif -%}
  {%- endcapture -%}

  <div class="product-item__image-wrapper {% if settings.show_secondary_image and product.media.size > 1 and hide_secondary_image != true %}product-item__image-wrapper--multiple{% endif %}">
    {%- if product_labels != blank and reduced_content != true -%}
      <div class="product-item__label-list label-list">
        {{- product_labels -}}
      </div>
    {%- endif -%}

    <a
      href="{{ product.url }}"
      data-instant
      class="product-item__aspect-ratio aspect-ratio {% if settings.product_image_size != 'natural' %}aspect-ratio--{{ settings.product_image_size }}{% endif %}"
      style="padding-bottom: {{ 100.0 | divided_by: product.featured_media.preview_image.aspect_ratio }}%; --aspect-ratio: {{ product.featured_media.preview_image.aspect_ratio }}"
    >
      {%- if product.featured_media -%}
        {{
          product.featured_media
          | image_url: width: product.featured_media.width
          | image_tag:
            loading: 'lazy',
            sizes: sizes_attribute,
            widths: '200,300,400,500,600,700,800,900,1000,1100,1200',
            class: 'product-item__primary-image',
            data-media-id: product.featured_media.id
        }}
      {%- endif -%}

      {%- if settings.product_color_display == 'swatch' -%}
        {%- for color_label in color_label_list -%}
          {%- if product.options_by_name[color_label] != blank -%}
            {%- for color_option in product.options_by_name[color_label].values -%}
              {%- for variant in product.variants -%}
                {%- if variant.options contains color_option and variant.featured_media != blank -%}
                  {%- unless variant.featured_media == product.featured_media -%}
                    {{
                      variant.featured_media
                      | image_url: width: variant.featured_media.width
                      | image_tag:
                        loading: 'lazy',
                        sizes: sizes_attribute,
                        widths: '200,300,400,500,600,700,800,900,1000,1100,1200',
                        class: 'product-item__primary-image',
                        data-media-id: variant.featured_media.id,
                        hidden: true
                    }}
                    {% break %}
                  {%- endunless -%}
                {%- endif -%}
              {%- endfor -%}
            {%- endfor -%}
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}

      {%- if settings.show_secondary_image and product.media.size > 1 and hide_secondary_image != true -%}
        {%- assign next_media = product.media[product.featured_media.position] | default: product.media[1] -%}
        {{-
          next_media
          | image_url: width: next_media.width
          | image_tag:
            loading: 'lazy',
            sizes: sizes_attribute,
            widths: '200,300,400,500,600,700,800,900,1000,1100,1200',
            class: 'product-item__secondary-image'
        -}}
      {%- endif -%}
    </a>
  </div>

  <div class="product-item__info {% if show_cta %}product-item__info--with-button{% endif %} {% if reduced_font_size %}text--small{% endif %}">
    <div class="product-item-meta">
      {%- if settings.show_vendor -%}
        {%- assign vendor_handle = product.vendor | handle -%}
        {%- assign collection_for_vendor = collections[vendor_handle] -%}

        {%- unless collection_for_vendor.empty? -%}
          <a
            class="product-item-meta__vendor heading heading--xsmall"
            href="{{ collection_for_vendor.url }}"
            data-instant
          >
            {{- product.vendor -}}
          </a>
        {%- else -%}
          <a
            class="product-item-meta__vendor heading heading--xsmall"
            href="{{ product.vendor | url_for_vendor }}"
            data-instant
          >
            {{- product.vendor -}}
          </a>
        {%- endunless -%}
      {%- endif -%}

      <!--
        <a href="{{ variant.url }}" data-instant class="product-item-meta__title">{{ product.title }} - {{ variant.option1 }}</a>
      -->
      <div class="complementary-product-title">{{ product.title }}</div>
      <div class="complementary-product-color"><b>Color: </b>{{ variant.option1 }}</div>

      {%- if settings.show_product_rating and reduced_content != true -%}
        <a class="product-item-meta__reviews-badge text--small" href="{{ product.url }}" data-instant>
          {%- render 'product-rating', product: product -%}
        </a>
      {%- endif -%}
    </div>

    {%- if product.available and reduced_content or show_cta -%}
      <div class="product-item__cta-wrapper">
        {%- capture form_id -%}product_form_{{ section.id }}_{{ block.id }}_{{ product.id }}_{% increment product_form_index %}{%- endcapture -%}
        {%- form 'product', product, is: 'product-form', id: form_id -%}
          <input type="hidden" name="quantity" value="1">
          {%- if product.variants.size == 1 -%}
            <input type="hidden" name="id" value="{{ product.first_available_variant.id }}">
          {%- else -%}
            <select name="id">
              <option value="">
                {%- if product.handle contains 'gift-card' -%}
                  {{- 'product.form.select_value' | t -}}
                {%- else -%}
                  {{- 'product.form.select_size' | t -}}
                {%- endif -%}
              </option>
              {% for variant in product.variants %}
                <option
                  value="{{ variant.id }}"
                  {% unless variant.available %}
                    disabled
                  {% endunless %}
                >
                  {{ variant.option2 -}}
                  {%- unless variant.available %} - {{ 'collection.product.sold_out' | t }}{% endunless %}
                </option>
              {% endfor %}
            </select>
          {%- endif -%}
          <button
            type="submit"
            is="loader-button"
            class="
              button
              complementary-product-form-add-to-cart-button
              product-form__add-button
              button--primary button--full
              button--primary
              {% if reduced_content %}
                product-item__link link text--subdued
              {% else %}
                product-item__cta button button--primary
              {% endif %}
            "
            disabled
          >
            {{ 'product.form.complementary_add_to_cart' | t }} -&nbsp;{{ product.price | money }}
          </button>
        {%- endform -%}
      </div>
    {%- elsif reduced_content -%}
      <div class="product-item__cta-wrapper">
        <span class="product-item__link text--subdued">{{ 'collection.product.sold_out' | t }}</span>
      </div>
    {%- endif -%}
  </div>
</product-item>
