<div class="account-navigation">

  <style>
    .account-navigation {
      padding: 1.5rem 0;
    }
    .account-navigation .link-bar__wrapper {
      padding: .5rem 0;
      border-bottom: 1px solid #D4D4D4;
    }
    .account-navigation .link-bar__wrapper .link-bar__link-item {
      padding: 0;
      font-family: Avenir;
      font-size: 20px;
      font-weight: 800;
      line-height: 27.32px;
      text-transform: uppercase;
    }
    .account-navigation .link--animated:after {
      bottom: -8px;
    }
  </style>


  {% assign current_url = request.path %}

  <div class="link-bar no-shadow hidden-phone">
    <div class="container">
      <div class="link-bar__wrapper">
        <ul class="link-bar__linklist list--unstyled" role="list">
          {% for block in section.blocks %}
              {%- case block.type -%}
                  {%- when 'custom-link' -%}
                    <li class="link-bar__link-item">
                      <a href="{{ block.settings.url }}" class="link-bar__link link--animated {% if request.path ==  block.settings.url  %}text--underlined{% endif %}">{{ block.settings.label }}</a>
                    </li>

                  {%- when 'club' -%}
                    <li class="link-bar__link-item">
                      <a href="{{ routes.account_url }}#comfortClub" class="link-bar__link link--animated {% if request.path contains '#comfortClub' %}text--underlined{% endif %}">{{ 'customer.general.comfortClub' | t }}</a>
                    </li>

                  {%- when 'orders' -%}
                    <li class="link-bar__link-item">
                      <a href="{{ routes.account_url }}#orders" class="link-bar__link link--animated {% if request.path contains '#orders' %}text--underlined{% endif %}">{{ 'customer.orders.title' | t }}</a>
                    </li>

                  {%- when 'addresses' -%}
                    <li class="link-bar__link-item">
                      <a href="{{ routes.account_addresses_url }}" class="link-bar__link link--animated {% if request.path == routes.account_addresses_url%}text--underlined{% endif %}">{{ 'customer.addresses.title' | t }}</a>
                    </li>

                  {%- when 'logout' -%}
                    <li class="link-bar__link-item">
                      <a href="{{ routes.account_logout_url }}" class="link-bar__link link--animated text--subdued" data-no-instant>{{ 'customer.logout.title' | t }}</a>
                    </li>
              {%- endcase -%}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="mobile-toolbar hidden-tablet-and-up">
    <button is="toggle-button" class="mobile-toolbar__item" aria-expanded="false" aria-controls="account-links-popover">{%- render 'page-title' -%} {%- render 'icon' with 'chevron' -%}</button>
  </div>

  <popover-content id="account-links-popover" class="popover">
    <span class="popover__overlay"></span>

    <header class="popover__header">
      <span class="popover__title heading h6">{{- 'customer.general.title' | t -}}</span>

      <button type="button" class="popover__close-button tap-area tap-area--large" data-action="close" title="{{ 'general.accessibility.close' | t | escape }}">
        {%- render 'icon' with 'close' -%}
      </button>
    </header>

    <div class="popover__content">
      <div class="popover__choice-list">
        {% for block in section.blocks %}
          {%- case block.type -%}
              {%- when 'custom-link' -%}
                <a href="{{ block.settings.url }}" data-url="{{ block.settings.url }}" class="popover__choice-item">
                  <span class="popover__choice-label" >{{ block.settings.label  }}</span>
                </a>

              {%- when 'club' -%}
                <a href="{{ routes.account_url }}#comfortClub" data-url="{{ routes.account_url }}" class="popover__choice-item">
                  <span class="popover__choice-label" >{{ 'customer.general.comfortClub' | t }}</span>
                </a>

              {%- when 'orders' -%}
                <a href="{{ routes.account_url }}#orders" data-url="{{ routes.account_url }}" class="popover__choice-item">
                  <span class="popover__choice-label" >{{ 'customer.orders.title' | t }}</span>
                </a>

              {%- when 'addresses' -%}
                <a href="{{ routes.account_addresses_url }}" data-url="{{ routes.account_addresses_url }}" class="popover__choice-item">
                  <span class="popover__choice-label" >{{ 'customer.addresses.title' | t }}</span>
                </a>

              {%- when 'logout' -%}
                <a href="{{ routes.account_logout_url }}" data-url="{{ routes.account_logout_url }}" class="popover__choice-item text--subdued" data-no-instant>
                  <span class="popover__choice-label" >{{ 'customer.logout.title' | t }}</span>
                </a>
          {%- endcase -%}
        {% endfor %}
      </div>
    </div>
  </popover-content>

</div>

{% schema %}
{
  "name": "Account navigation",
  "settings": [
    {
      "type": "checkbox",
      "id": "comfort_club_status",
      "label": "Enable Comfort Club link",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "custom-link",
      "name": "Custom Link",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "URL"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label"
        }
      ]
    },
    {
      "type": "club",
      "name": "Comfort club"
    },
    {
      "type": "orders",
      "name": "Order details"
    },
    {
      "type": "addresses",
      "name": "Addresses details"
    },
    {
      "type": "logout",
      "name": "Logout"
    }
  ]
}
{% endschema %}