{%- assign faqs = collection.metafields[section.settings.namespace][section.settings.key].value -%}
{%- if faqs.count > 0 -%}
  <section class="section section--tight">
    <div class="section__color-wrapper">
      <div class="container">
        <header class="section__header section__header--tight text-container">
          <h1 class="heading h2">{{ 'title' | t: title: collection.title }}</h1>
        </header>
        <div class="faq__wrapper" itemscope itemtype="https://schema.org/FAQPage">
          {%- for faq in faqs -%}
            <div class="faq__item" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
              <button is="toggle-button" class="collapsible-toggle text--strong" aria-controls="block-{{ section.id }}-{{ forloop.index }}" aria-expanded="false" itemprop="name">
                {{- faq.question -}}
                <span class="animated-plus"></span>
              </button>

              <collapsible-content id="block-{{ section.id }}-{{ forloop.index }}" class="collapsible anchor" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer" {{ block.shopify_attributes }}>
                <div class="collapsible__content text-container" itemprop="text">
                  {{ faq.answer }}
                </div>
              </collapsible-content>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </section>
{%- endif -%}

{% schema %}
{
  "name": "Collection FAQ Schema",
  "enabled_on": {
    "templates": ["collection"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "FAQs that can be used for SEO purposes."
    },
    {
      "type": "header",
      "content": "Question Metafield",
      "info": "Select which metafield will be used to pull content onto the page."
    },
    {
      "type": "text",
      "label": "Namespace",
      "id": "namespace",
      "default": "custom"
    },
    {
      "type": "text",
      "label": "Key",
      "id": "key",
      "default": "faq"
    }
  ],
  "locales": {
    "en": {
      "title": "FAQs about {{ title }}"
    }
  },
  "presets": [
    {
      "name": "Collection FAQ Schema"
    }
  ]
}
{% endschema %}